<h1>index page</h1>
{{ current_user.is_authenticated }}
<br>
<button id='send-data-btn'>send to 'my event' socket</button>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    $('#send-data-btn').on('click', function(){
        console.log('sending message')
        socket.emit('my event', {data: 'from static button'});
    })


    socket.on('send-to-browser', function(s) {
        console.log('message receive: ' + s)
    });

</script>